@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}
body{
 font-family: 'Montserrat', sans-serif;
user-select:none;
}
/* navbar */
.navbar{
   background: #001221;
   height:100px;
}


.logo{
    width:200px;
    height:80px;
}
 .nav-item {
  color: white !important;
  transition: opacity 0.3s ease;

}
/* .nav-item:hover{
    opacity:.7;
} */
.nav-link[aria-current="page"] {

  font-weight: bold; 

  
}
.custom-dropdown{
  z-index:1000000;

}
.dropdown-item{
    font-size:small;
}
.custom-dropdown .nav-link,
.custom-dropdown .dropdown-item {
  color: white !important;
}
.custom-dropdown .dropdown-item:hover {
  color: black !important;
  font-weight:bold;
}

.custom-dropdown .dropdown-menu {
  background-color: #001221; 
}



.custom-toggle{

background-color:white;

}

/* footer */
.Footer {

  padding:40px 0;
  background-color:#001221;
  color:#fff;
   width:100%;



}



.footer-icons i:hover {

  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}


.ft-1 ul{
    list-style:none;
}
.ft-1 ul li a{
  
     text-decoration:none;
    color:#fff;
   
    
}

.ft-2 ul {
  list-style: none;

}

.ft-2 ul li {
  padding: 0.35rem 0;
  font-weight: 500;
}


/*background*/

.background {
    width: 100%;
    height: 100%;
     box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .84);


}

/*course*/

.limited-text{
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
}

.course-card {
  width: 20rem;
  opacity: 1;
  transition: transform 0.3s ease-in-out;
  cursor:pointer;
    border:none;
}

.course-card:hover {
  transform: scale(1.05); 

}

.img-container {
  overflow: hidden;

}

.course-img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}

.course-card:hover .course-img {
  transform: scale(1.2); 
}

.course-body {
  min-height: 270px;

}
/*instructions*/
.instructor-card {
  width: 18rem;
  margin:auto;
  opacity: 1;
  transition: transform 0.3s ease-in-out;
  cursor:pointer;
    border:none;
   
}

.instructor-card:hover {
  transform: scale(1.05); 

}


.instructor-img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}

.instructor-card:hover .course-img {
  transform: scale(1.2); 
}

.instructor-body {
  min-height: 150px;

}

@media screen and (max-width: 576px) {
  .course-card{
       width:25rem;
    }

  
}


