@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body{
 font-family: 'Montserrat', sans-serif;
    user-select:none;
}
/* navbar */
.navbar{
   background: #0b123f;
   height:100px;
}



.logo{
    width:200px;
    height:80px;
}
 .nav-item {
  color: white !important;
  transition: opacity 0.4s ease;

}
.nav-item:hover{
    opacity:.6;
}

.custom-toggle{

background-color:white;

}

/* footer */
.Footer {
  padding:40px 0;
  background-color:#0b123f;
  color:#fff;
   width:100%;


}





.footer-icons i:hover {

  color: #fff;
  transition: 0.6s;
  cursor: pointer;
}


.ft-1 ul{
    list-style:none;
}
.ft-1 ul li a{
  
     text-decoration:none;
    color:#fff;
   
    
}

.ft-2 ul {
  list-style: none;

}

.ft-2 ul li {
  padding: 0.35rem 0;
  font-weight: 500;
}




